.container-fluid
  .row-fluid
    .span2
      = render 'search_box'
      %br
      = render 'filter'
    .span10
      .btn-toolbar.span5
        = render "order_by"
    .span10          
      - 1.upto(10) do
        = render "item"
   
